<!DOCTYPE HTML>
<html>
<head>
    <title>Butler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width"/>
    <link type="text/css" href="/css/contact.css" rel="stylesheet" />
    <link type="text/css" href="/css/menu.css" rel="stylesheet" />

</head>

<body>
<div class="ph-line-nav nav">
    <a href="/">Home</a>
    <a href="#">Begrippen</a>
    <a href="#">Ww. schema</a>
    <a href="/contact">Contact</a>
    <a href="/excercises">Oefenen</a>
    <a href="/loginChoice">Inloggen</a>
    <div class="effect"></div>
</div>
<header class="main-header"></header>
<section id="hire">
    <h1>Contact Opnemen</h1>

    <form>
        <div class="field name-box">
            <input type="text" id="name" placeholder="Hoe heet je?"/>
            <label for="name">Naam</label>
            <span class="ss-icon">V</span>
        </div>

        <div class="field email-box">
            <input type="text" id="email" placeholder="name@email.com"/>
            <label for="email">Email</label>
            <span class="ss-icon">V</span>
        </div>

        <div class="field msg-box">
            <textarea id="msg" rows="4" placeholder="Schrijf hier je bericht..."></textarea>
            <label for="msg">Bericht</label>
            <span class="ss-icon">V</span>
        </div>

        <input class="button" type="submit" value="Verzenden" />
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/contact.js"></script>
</body>
</html>