<!DOCTYPE HTML>
<html>
<head>
    <title>Butler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width"/>
    <link type="text/css" href="/css/landing.css" rel="stylesheet" />
    <link type="text/css" href="/css/menu.css" rel="stylesheet" />
</head>
<body>
<div class="ph-line-nav nav">
    <a href="/">Home</a>
    <a href="#">Begrippen</a>
    <a href="#">Ww. schema</a>
    <a href="/contact">Contact</a>
    <a href="/excercises">Oefenen</a>
    <a href="/loginChoice">Inloggen</a>
    <div class="effect"></div>
</div>
<header id="top" class="main-header">

    <h1>Werkwoordspelling<div class="north">De Baas</div></h1>
</header>
<!-- .primary -->

<div class="border less-marging"></div>

<!-- .primary -->
<div class="primary container">
    <p class="intro">
        Werkwoordspelling De Baas is een site waar jij kunt oefenen met werkwoordspelling. Er zijn verschillende onderdelen waarmee je kunt oefenen en binnen deze onderdelen zijn er ook verschillende niveau's.
    </p>

    <div class="bg">
        <div class="howay"  id="howay">
            <h2>Howay man!</h2>
            <p>
                Historically part of County Durham prior to the creation of Tyne and Wear in 1974. The town is well known for its <a href="turism">iconic architecture</a> and <a href="#culture">friendly locals</a>.
            </p>
        </div>
    </div>

    <a class="button" href="#turism">Discover Gateshead</a>
</div>
<!-- End .primary -->

<!-- .secondary  -->
<div class="secondary container group">
    <div class="turism" id="turism">
        <img src="https://completelyretail.co.uk/media/property/47104/CR_SC_47104_G123_Trinity_Square_Gateshead_picture_1_p7_750x500.jpg" alt="The Sage Gateshead"/>
        <h3>The 'Toon'</h3>
        <p>
            Gateshead is full of wonderful places to visit and well known for its iconic architecture. Here are our top three resorts:
        </p>
        <ul>
            <li><a href="http://en.wikipedia.org/wiki/The_Sage_Gateshead">The Sage</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Angel_of_the_North">Angel of the North</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Baltic_Centre_for_Contemporary_Art">Baltic Centre for Contemporary Art</a></li>
        </ul>
    </div>

    <div class="culture" id="culture">
        <img src="https://i2.chroniclelive.co.uk/incoming/article4046091.ece/alternates/s615/CMP_030613colmans-4.jpg" alt=""/>
        <h3>Wey aye, man!</h3>
        <p>Residents of Gateshead, like the rest of Tyneside, are referred to as Geordies. Here are a few iconic sayings:
        </p>
        <ul>
            <li>gan yem <span>(I'm going home)</span></li>
            <li>Wey aye, man! <span>(Yes!)</span></li>
            <li>Howay man! <span>(Hurry up!)</span></li>
            <li><a href="#https://www.chroniclelive.co.uk/news/north-east-news/geordie-sayings-top-56-things-6466922">Discover More</a></li>
        </ul>
    </div>

</div>
<!-- End .secondary  -->

<div class="border"></div>

<!-- .main-footer  -->
<footer class="main-footer">
    <p>All rights reserved to the city of <a href="http://en.wikipedia.org/wiki/Gateshead">Gateshead</a>.</p>
    <a href="#top">Back to top &raquo;</a>
</footer>
<!-- End .main-footer  -->
</body>
</html>

