<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Please Login</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" href="/css/login.css" rel="stylesheet" />
</head>

<body id="wrapper" >
	<div class="cont">
	  <div id="switchCss" class="demo fadeIn">
	    <div  class="login">
	      <div class="login__check"></div>
	      <form id="loginForm" th:action="@{/login}" method="post" enctype="multipart/form-data">
	      <div class="login__form">
	        <div class="login__row">
	          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
	            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
	          </svg>
	          <input type="text" name="username" class="login__input name" placeholder="Username"/>
	        </div>
	        <div class="login__row">
	          <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
	            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
	          </svg>
	          <input type="password" name="password" class="login__input pass" placeholder="Password"/>
	        </div>
	        <button id="button" type="button" class="login__submit">Sign in</button>
	        <p class="login__signup">Nog geen account? &nbsp;<a onclick="switchToSignUp()" href="#">Sign up</a></p>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>