<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Butler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width"/>
    <link type="text/css" href="/css/loginChoice.css" rel="stylesheet" />
    <link type="text/css" href="/css/menu.css" rel="stylesheet" />
</head>
<body>
<div class="ph-line-nav nav">
    <a href="/">Home</a>
    <a href="#">Begrippen</a>
    <a href="#">Ww. schema</a>
    <a href="/contact">Contact</a>
    <a href="/excercises">Oefenen</a>
    <a href="/loginChoice">Inloggen</a>
    <div class="effect"></div>
</div>
<header class="main-header"></header>
<div class="options">
    <label class="option">
        <input type="radio" name="company" value="facebook"/>
        <div class="option-content">
            <h1 class="animated bounceIn"></h1>
            <h4>OEFENEN ZONDER INLOGGEN</h4>
            <h4><i class="ion-android-radio-button-on"></i></h4>
        </div>
        <div class="on-checked"></div>
    </label>
    <label class="option">
        <input type="radio" name="company" value="facebook"/>
        <div class="option-content">
            <h1 class="animated bounceIn"></h1>
            <h4>INLOGGEN ALS LERAAR</h4>
            <h4><i class="ion-android-radio-button-on"></i></h4>
        </div>
        <div class="on-checked"></div>
    </label>
    <label class="option">
        <input type="radio" name="company" value="facebook"/>
        <div class="option-content">
            <h1 class="animated bounceIn"></h1>
            <h4>INLOGGEN ALS STUDDENT</h4>
            <h4><i class="ion-android-radio-button-on"></i></h4>
        </div>
        <div class="on-checked"></div>
    </label>
</div>

</body>
</html>